ul {
  list-style-type: none;
}

.newLinks li {
  margin-right: 10px;
}

.d-flex {
  display: flex;
}

.naviBar {
  justify-content: space-between;
  align-items: center;
}

.App {
  margin: 0 300px;
}
