ul {
  list-style-type: none;
}

.newLinks li {
  margin-right: 10px;
}

.d-flex {
  display: flex;
}

.naviBar {
  justify-content: space-between;
  align-items: center;
}

.book-items li {
  justify-content: space-evenly;
  gap: 10px;
}
